  <% followingNumber = userData.following.length %>

    <% if(userData.following.length > 0){ %>
    <% userData.following.forEach(function(usersFollowed) {%>

    <a href="/index" class="btn btn-primary followLinkBox">

      <% if(usersFollowed.bioImageFile === "/assets/defaultusericon.png") { %>
      <% var userImage = usersFollowed.bioImageFile %>
      <% } else { %>
      <% var userImage = "/image/" + usersFollowed.bioImageFile %>
      <% } %>
      <div class="followingPrvw orientation" image="<%= userImage %>"></div>
      <h5 class="followTxt">
        <%= usersFollowed.profileName %>
      </h5>
    </a>
    <% }) %>
    <% } else { %>
    <p class="noFollowTxt">Not Following Anyone</p>
    <% } %>
