<% if(entries){ %>
<%_ entries.forEach(function(entry) { _%>

  <%- include('../partials/everyoneEntryCardPublic', {entry: entry, userData: userData, userFollowing: userFollowing}) %>

<%_ }) _%>
<% } else { %>
<p>No entries to show!</p>
<% } %>
