<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Aurealius</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|IM+Fell+Great+Primer" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">


    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/scripts/load-image.all.min.js"></script>
    <script src="/scripts/imageCorrect.js"></script>
  </head>

  <nav class="header">
    <div class="lftlinks headerlinks">
      <ul class="">
        <li class="">
          <a class="" href="/user">Your Gratitude</a>
        </li>
        <li class="">
          <a class="" href="/index">Everyone</a>
        </li>
      </ul>
    </div>
    <div class="rghtlinks headerlinks">
      <ul class="">
        <li class="">
          <a class="" href="/logout" role="submit">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <body>
