
<div class="collapse mb-3" id="searchBar">
  <div class="card card-body">
    <form autocomplete="off">
      <div class="form-group mb-0">
        <input type="text" id="searchInput" class="form-control" placeholder="Search Aurealius"/>
      </div>
    </form>
    <div class="mt-2"  id="searchResultsRenderContainer"></div>
  </div>
</div>
