<% if(entries){ %>
<%_ entries.forEach(function(entry) { _%>

  <%- include('../partials/yourEntryCard', {entry: entry, userData: userData}) %>

<%_ }) _%>
<% } else { %>
<p>No entries to show!</p>
<% } %>
