<% if(entries){ %>
<%_ entries.forEach(function(entry) { _%>

<%- include('../partials/userEntryPublicCard', {entry: entry, reqUserData: reqUserData, userData: userData}) %>

<%_ }) _%>
<% } else { %>
<p>No entries to show!</p>
<% } %>
