<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5474f8">
    <meta name="msapplication-TileColor" content="#474f85">
    <meta name="theme-color" content="#474f85">
    <title>Aurealius</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|IM+Fell+Great+Primer" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/scripts/load-image.all.min.js"></script>
    <script src="/scripts/imageCorrect.js"></script>
  </head>

  <body>

    <div class="container launchContainer mt-3 mb-3">
      <div class="row">
        <div class="col-md-12 pl-5 pr-5 center-block">

          <section id="aboutUsIconLogoWTitle" class="mt-3">
              <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-1 align-items-center text-center pl-0 pr-0">
                      <img class="aboutUsLogo" src="/assets/Coin_tanBackground_Darker.png" alt="aurealius-logo-icon" />
                    </div>
                    <div class="col-md-10 col-lg-11 d-flex align-items-center mobileHeaderStack">
                      <h1 class="primaryPurpleFont">About Us</h1>
                    </div>
                </div>
              </div>
          </section>

          <hr class="primaryPurpleFont lgMdFullLength">

          <section id="aboutUsStory" class="">
            <div class="container">
              <div class="row">
                <h3 class="primaryPurpleFont mobileHeaderStack">Our Story</h3>
                <p>
                  While today's social networks have been tremendously successful in "connecting" people across the globe, it is less clear
                  that it is making us better people. Afterall, how much quality interaction would you say you've engaged in online? Does
                  pressing an emoji button actually connect you with your friend online? Maybe, but more likely it was done in passing
                  without much thought.
                  <br /><br />
                  There is also growing evidence that high levels of social media use can lead to physical
                  and mental health problems ranging from lower back pain to depression. We spend to many hour craning our necks awkwardly
                  towards our phones comparing our lives to the best version your "friends" can filter through rose-colored glass-filters apps.
                  Shouldn't what we do with our screen time make us feel BETTER, not worse?
                  <br /><br />
                  At Aurealius we wanted to build something different. Inpsired by the likes of great stoics like Marcus Aurelius (from whom
                  we derive our name), we set out to build a platform rooted in the ancient philosophy of stoicism, where gratitude
                  and appreciation support the acknowledgement of the world as it is, not as we wish it to be. No more effortless judgement,
                  professional image filters, and arguing about politics. Aurealius is for those who want their screen time to REDUCE
                  stress through a selectively-social gratitude practice.
                  <br /><br />
                </p>
              </div>
            </div>
          </section>

          <section id="ourCompany" class="">
            <div class="container">
              <div class="row">
                <div class="mobileCentered">
                  <h3 class="primaryPurpleFont ">Our Parent Company</h3>
                </div>
                <p>
                  The platform is a product of Boston-based Ultimately LLC, which specializes in technology-based life improvement solutions.
                  In addition to Aurealius, the company owns and operates <a href="https://ultimate.ly">Ultimately</a>, a digital journaling platform that helps you leave your best
                  possible legacy to future generations.
                  <br /><br />
                  To learn more about Ultimately click <a href="https://ultimate.ly">here</a>.
                </p>
              </div>
            </div>
          </section>

          <section id="ourfounder" class="">
            <div class="container">
              <div class="row">
                <h3 class="primaryPurpleFont mobileHeaderStack">Our Founder</h3>
                <div class="mt-2">
                  <h4 class="primaryPurpleFont">Scott Kirker</h4>
                  <p>Since graduating from Penn State University in 2006, Scott's career has been predominantly focused on mergers and acquisitions and finance.
                    His experience includes investment banking, private equity and corporate finance.
                    <br /><br />
                    For years he dreamed of building something meaningful
                    on his own. Too often he yearned to be the entrepreneur on the other side of the table while in his professional roles. He could see their sense
                    of purpose and pride in their work. He admired their commitment to action, even if it came at the expense of conventional wisdom. He found inspiration
                    in their stories.
                    <br /><br />
                    So, Scott decided to pursue an MBA from Babson College, a program famous for its strength in entrepreneurship. After graduating in 2012, he kept his eyes
                    open for inspiration to strike. He founded Ultimately five years later with the encouragement and support of his loved ones and mentors.
                    <br /><br />
                    Scott is a certified life coach and full stack developer, skills that have been invaluable in his efforts to discover ways to help people fulfill their
                    life goals with the help of technology. He has consistently sought out ways to implement best practices from his experiences in to the platform.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section id="lPfooter">
            <div id="lPfooterContainer">
              <ul class="list-inline headerFont">
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/">Home</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/about">About Us</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/contact">Contact</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/developer">Developers</a></li>
              </ul>
              <div class="pt-2 pb-2 goToTopIconContainer">
                <i class="fas fa-chevron-circle-up fa-2x goToTopIcon primaryPurpleFont" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"></i>
              </div>
            </div>
            <div id="rightsReserved" class="text-center">
              <p>© 2019 All Rights Reserved</p>
            </div>
          </section>

        </div>
      </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
  <script src="/scripts/scriptFile.js"></script>

  </body>

</html>
