<%- include('partials/header') %>

<form action="/activity" method="POST">
  <div class="form-group">
    <input type="text" class="form-control text-center" name="entryCaption" placeholder="What are you thankful for right now?">
  </div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>

<!-- Need to figure out how to handle post routing for files vs text -->
<form action="/upload" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload Image</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="entryImg">
  </div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>


<%= typeof msg != "undefined" ? msg : "" %>

<% userEntries.forEach(function(entry){ %>
  <p class="entry-text">
     <%=entry.caption%>
    </p>
 <% }) %>

<%- include('partials/footer') %>
