<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row" id="favCollectionsRenderingContainer"></div>
  <hr />
  <div class="row" id="unfavCollectionsRenderingContainer"></div>
</div>

<%- include('partials/footer') %>
