<%- include('partials/headerLoggedIn') %>

<div class="container headerSpacing">
  <div class="row">
    <%- include('partials/collectionTiles') %>
  </div>
</div>


<%- include('partials/footer') %>
