<%- include('partials/headerLoggedInMain') %>


<title>Aurealius</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h1 class="text-center display-4 my-4">Activity Page</h1>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <textarea class="form-control" rows="3" name="caption" placeholder="What are you grateful for right now?"></textarea>
          <br />
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="form-control-file" />
          </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
      </form>
      <hr />

      <% if(entries){ %>
      <% entries.forEach(function(entry) { %>
      <div class="card card-body mb-3 cushion">
        <div class="orientation" image="image/<%= entry.imageFile %>"></div>
        <div class="capPad">
          <p class="card-text"><%= entry.caption %></p>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <p>No entries to show!</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
