<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5474f8">
    <meta name="msapplication-TileColor" content="#474f85">
    <meta name="theme-color" content="#474f85">
    <title>Aurealius</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|IM+Fell+Great+Primer" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/scripts/load-image.all.min.js"></script>
    <script src="/scripts/imageCorrect.js"></script>
  </head>

  <body>

    <div class="container launchContainer mt-3 mb-3">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <section id="title" class="mt-3 mb-5">
            <div class="jumbotron launchPGJTron mb-0 mobileCentered">
              <div class="container">
                <div id="sMLogoLPContainer">
                  <img class="smLPLogo" src="/assets/FFF_Aurealius_LO_01.png" alt="aurealius-logo-icon" />
                </div>
                <h1 id="smRegTitle" class="display-3 secondaryTanFont">Aurealius</h1>
                <p id="smRegTag" class="lead secondaryTanFont">Where Gratitude Takes Center Stage</p>
                <div id="lGMdLogoLPContainer">
                  <img class="lgMdLPLogo inline" src="/assets/SxS_noTxt_logo.png" alt="aurealius-logo-SxS_noTxt" />
                  <div id="lgMdTitleTagContainer" class="inline">
                    <div>
                      <h1 id="lGMdRegTitle" class="display-1 mb-0 pl-2 secondaryTanFont">Aurealius</h1>
                      <p class="lead pl-2 secondaryTanFont">Where Gratitude Takes Center Stage</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="container mb-5" id="launchContactForm">
            <div class="row justify-content-md-center">
              <div class="col-md-9">
                <div class="card">
                  <div class="card-body">
                    <div class="container text-center">
                      <h2 class="primaryPurpleFont mb-4">We Would Love To Hear From You!</h2>
                    </div>
                    <form id="launchContactusForm" action="/launchContactUs" method="POST">
                      <label class="" for="lContactFName">Contact Information</label>
                      <div class="form-row">
                        <div class="form-group col-5">
                            <input type="text" id="lContactFName" placeholder="First Name" class="form-control" name="launchContactFname" />
                        </div>
                        <div class="form-group col-7">
                          <input type="text" id="lContactLName" placeholder="Last Name" class="form-control" name="launchContactLname" />
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" id="lContactEmail" placeholder="Email Address" class="form-control" name="launchContactEmail" />
                      </div>
                      <div class="form-group">
                        <label class="" for="contactRationale">Reason for Inquiry</label>
                        <select id="contactRationale" class="form-control" placeholder="Reason for contact" >
                          <option class="launchOptions" value="General Inquiries">General Inquiries</option>
                          <option class="launchOptions" value="Employment Opportunities">Employment Opportunities</option>
                          <option class="launchOptions" value="Media/Press">Media/Press Inquiries</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="" for="lContactContent">Message</label>
                        <textarea id="lContactContent" class="form-control" rows="5" placeholder="Please leave your message here..." name="launchContactContent"></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" id="submitLContactBtn" class="btn btn-block btn-primary">Send</button>
                      </div>
                    </form>
                    <div class="validateEmail validateWarning d-none">
                        Please provide a valid email address!
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>


          <section id="lPfooter">
            <div id="lPfooterContainer">
              <ul class="list-inline headerFont ml-3">
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/">Home</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/about">About Us</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/contact">Contact</a></li>
                <li class="list-inline-item"><a class="primaryPurpleFont" href="/developer">Developers</a></li>
              </ul>
              <div class="pt-2 pb-2 mr-3 goToTopIconContainer">
                <i class="fas fa-chevron-circle-up fa-2x goToTopIcon primaryPurpleFont" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);"></i>
              </div>
            </div>
            <div id="rightsReserved" class="text-center">
              <p>© 2019 All Rights Reserved</p>
            </div>
          </section>

        </div>
      </div>
    </div>

  <!-- response modal -->
  <div class="modal" id="lContactSubmitModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thank You!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="lContactResponse"></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
  <script src="/scripts/scriptFile.js"></script>

  </body>

</html>
