body {
  background-image: url(/assets/21967402-beige-background-paper-or-canvas-texture.jpg);
  /* background-size: contain; */
  /* background-repeat:no-repeat; */
/* background-color: #f3ecd3; */
}

h1,h2,h3,h4,h5 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

p {
  font-family: 'IM Fell Great Primer', serif;
}

.container {
  margin-top: 100px;
  z-index: 2;
  }

.entryFormCard {
  background-color: #fafcfd;
}

.form-control {
  font-size: 1.2rem;
  font-family: 'IM Fell Great Primer', serif;
}

.entryContainer {
  padding: 2%;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardWImg {
  /* background-color: #f3f9fb; */
  background-color: #fafcfd;
}

.cardWOImg {
  /* background-color: #f3f9fb; */
  /* background-image: url(https://previews.123rf.com/images/bpuhanic/bpuhanic1409/bpuhanic140900013/32044670-old-handmade-rice-paper-texture-for-background.jpg); */
    background-image: url(/assets/lightpaperfibers_@2X.png);
    /* background-image: url(/assets/polaroid_@2X.png); */
}

.captionContainer {
font-size: 1.35rem;
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Kalam', cursive; */
font-family: 'IM Fell Great Primer', serif;
}

.btn {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.btn-primary {
  color: #474f85;
  background-color: #51e3d4;
  border-color: #474f85;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.btn-primary:hover {
  color: white;
  background-color: #474f85;
  border-color: #51e3d4;
}

.custom-file {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}


.header {
  position: fixed;
  height: 75px;
  width: 100%;
  top:0;
  /* background-color: #474f85; */
  background: rgb(35,39,66);
  background: linear-gradient(0deg, rgba(49,55,93,1) 0%, rgba(71,79,133,1) 86%, rgba(35,39,66,1) 100%);
  z-index:1;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.headerlinks {
  position: absolute;
  bottom: 0;
}

.lftlinks {
  height:100%;
  line-height:59px;
  left: 5%;
  vertical-align: bottom;
}

.rghtlinks {
  height:100%;
  line-height:59px;
  right: 5%;
  vertical-align: bottom;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    vertical-align: bottom;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  font-size: 1.35rem;
  color: #f3f9fb;
  text-align: center;
  padding-top: 14px;
  padding-left:16px;
  padding-right: 16px;
  text-decoration: none;
  border-width: 5px;
}

nav li:hover {
border-bottom-style: solid;
border-bottom-color: #51e3d4;
border-bottom-width: 2px;
}

nav a:hover {
  color: #51e3d4;
  text-decoration: none;
}



/* -----------------------expand entry form------------------------------- */
.expandTA  {
  height: 1em;
  padding: 3px;
    /* transition: all 0.5s ease; */
}


/* -----------------------entry privacy choice togglechoice------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C0C0C0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -----------------------upload-private/public toggle------------------------------- */

.upldToggleContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 35px;
}

.upldToggleContainerWidth {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
}

.toggleCotainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  text-align: right;

}


/* -----------------------user page view choice------------------------------- */
.userBtnBar {
  border-width: 1px;
  border-color: darkgray;
}

/* -----------------------activity feed cards------------------------------- */

.entry-text {
text-align: center;
font-size: 2rem;
color: #fff;
background-color: #000;
}

.uNFavIcnContainer {
  position: relative;
  height: 40px;
  padding-bottom: 50px;
}

.profileFllwUnFllw {
  width: 88%;
  height: 30px;
  left:0;
  top: 0;
}

.userProfName {
  display: inline-block;
}

.bigger {
  font-size: 1.5rem;
}

.flwUnflw {
  padding-left: 2%;
  display: inline-block;
}

.favShare {
  width: 35%;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.shareBtnContainer {
  display: inline-block;
}

.shareBtn {
  background: none;
  border: none;
  color: darkgray;
}

.shareBtn:hover {
  color: #474f85;
}

.shareBtn:focus {
  outline: 0;
}

.favBtnContainer {
  display: inline-block;
}

.favBtn {
  background: none;
  border: none;
  color: red;
}

.aFSMIconContainer {
  text-align: right;
  height: 40px;
}

.aFSMIcons {
word-spacing: 1.00rem;
padding: 1%;
font-size: 1.5rem;
}

.orientation canvas {
  width: 100%;
}

.expndCrdContainer {
  text-align: center;
}

.expndCrdBtn {
  background: none;
  border: none;
  color: darkgray;
}

.expndCrdBtn:hover {
  color: black;
}

.expndCrdBtn:focus {
  outline: 0;
}

.report {
  font-size: 1.5rem;
  padding-top: 15px;
  background: none;
  border: none;
}

.report:hover {
  color: red;
}

/* -----------------------user profile edit------------------------------- */

.form-padding {
  padding-top:5%;
}

.form-button-spacing {
  margin-top:5%;
  margin-bottom: 5%;
}

.userBio {
  text-align: center;
}

.userImageContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.userImage {
  height: 200px;
  width:200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  }

.userInfo {
  margin-bottom: 1.5rem;
}

.userImageframe{
  height:150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 15%;
}

/* -------------------CANT GET THIS TO WORK--------------------------------- */
.userImagePreview.orientation canvas {
  width: 150%;
}

.capPad {
  padding-top: 10px;
}

.cushion {
  margin-bottom: 10px;
}

.header-form-button {
  margin-right: 10px;
}

.collectionHeading {
  position: relative;
}

.collectionHeadingEdit {
  position: absolute;
  top:30%;
  bottom:70%;
  right:0;
}

.collectionSocialBar {
  width:75%;
  margin: auto;
  text-align: left;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.collectionSocials {
  word-spacing: .75rem;
  font-size: 1.5rem;
  margin-left: 1%;
}

.usercollectionDelete {
  position: absolute;
  right:1%;
  font-size: 1.5rem;
  cursor: pointer;
}

.cltDContainer {
  position: absolute;
  right:1%;
  top: 50%;
  transform: translateY(-50%);
  /* vertical-align: middle; */
}

.deleteIcn {
  font-size: 1.25rem;
  background: none;
  border: none;
}

.deleteIcn:hover {
  color: red;
}

.collectionBackStop {
  position: relative;
  padding-bottom: 75%;
  height:0;
  width: 75%;
  margin: auto;
  overflow: hidden;
}

.collectionImg {
  position:absolute;
  left:-25px;
  margin: auto;
  width: 135%;
}

.collectionButton {
  position:absolute;
  height: 100%;
  width:100%;
  font-size: 2rem;
  color: white;
  background-color: rgba(128,128,128,.5);
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  left:0;
  top:0;
}
