body {
  background: url(/assets/backgroundCanvas.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sansita', sans-serif;
}

p {
  font-family: 'IM Fell Great Primer', serif;
}

hr {
  border-top: 3px solid;
  color: #474f85;
  opacity: .2;
  width: 95%;
}

/*---------------------------- header & footer------------------------------ */

.headerSpacing {
  margin-top: 100px;
  z-index: 2;
}

.header {
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  background: rgb(35, 39, 66);
  background: linear-gradient(0deg, rgba(49, 55, 93, 1) 0%, rgba(71, 79, 133, 1) 86%, rgba(35, 39, 66, 1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-family: 'Sansita', sans-serif;
}

.headerLinks {
  position: absolute;
  bottom: 0;
}

.lftLinks {
  height: 100%;
  line-height: 59px;
  left: 10%;
  vertical-align: bottom;
}

.rghtLinks {
  height: 100%;
  line-height: 59px;
  right: 5%;
  vertical-align: bottom;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: bottom;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  font-size: 1.35rem;
  color: #f3f9fb;
  text-align: center;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  text-shadow: 0 0 25px black;
  /* border-width: 5px; */
}

nav li:hover {
  border-bottom-style: solid;
  border-bottom-color: #51e3d4;
  border-bottom-width: 2px;
}

nav li.activePage {
  border-bottom-style: solid;
  border-bottom-color: #51e3d4;
  border-bottom-width: 2px;
}

nav a:hover {
  color: #51e3d4;
  text-decoration: none;
}

nav a.activePage {
  color: #51e3d4;
  text-decoration: none;
}

nav.footer li a:hover {
  border-top-style: solid;
  border-top-color: #51e3d4;
  border-top-width: 2px;
}

nav.footer li a:hover {
  border-top-style: solid;
  border-top-color: #51e3d4;
  border-top-width: 2px;
}

.footer {
  position: relative;
  height: 75px;
  width: 100%;
  bottom: 0;
  background: rgb(35, 39, 66);
  background: linear-gradient(180deg, rgba(49, 55, 93, 1) 0%, rgba(71, 79, 133, 1) 86%, rgba(35, 39, 66, 1) 100%);
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-family: 'Sansita', sans-serif;
}

.inline {
  display: inline-block;
}

.settingsIcn {
  color: darkgray;
  font-size: 1.25rem;
  background: none;
  border: none;
}

.settingsIcn:hover {
  color: #474f85;
}

.settingsIcn:focus {
  outline: 0;
}

@media screen and (max-width: 500px) {

  /*----------header navbar & footer Mobile formatting--------------*/
  .header {
    height: 38px;
  }

  .headerSpacing {
    margin-top: 55px;
    z-index: 2;
  }

  .lftLinks {
    line-height: 29px;
    left: 5%;
  }

  .rghtLinks {
    line-height: 29px;
  }

  nav li a {
    font-size: .8rem;
    color: #f3f9fb;
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 0 0 17px black;
  }

  .footer {
    height: 50px;
  }

  /*-------------------userCard Mobile formatting-----------------*/

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  .settingsIcn {
    align-items: top;
    font-size: 1rem;
  }

}


/*---------------------------buttons--------------------------------------- */

.btn {
  font-family: 'Sansita', sans-serif;
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: .9rem;
  }
}

.btn-primary {
  color: #474f85;
  background-color: #51e3d4;
  border-color: #474f85;
}

.btn-primary:hover {
  color: white;
  background-color: #474f85;
  border-color: #51e3d4;
}

.custom-file {
  font-family: 'Sansita', sans-serif;
}


.form-control {
  font-size: 1.2rem;
  font-family: 'IM Fell Great Primer', serif;
}

@media screen and (max-width: 500px) {
  .form-control {
    font-size: .9rem;
  }
}

/* -----------------------expand entry form------------------------------- */
.expandTA {
  height: 1em;
  padding: 3px;
  /* transition: all 0.5s ease; */
}

/* -----------------------upload-private/public toggle------------------------------- */
.upldToggleContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 35px;
}

.upldToggleContainerWidth {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
}

.toggleCotainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  text-align: right;
}

/* -----------------------user page view choice------------------------------- */
.userBtnBar {
  border-width: 1px;
  border-color: darkgray;
}

/* -----------------------activity feed cards------------------------------- */

.entryFormCard {
  /* background-color: #fafcfd; */
  background-image: url(/assets/lightpaperfibers_@2X.png);
}

.entryContainer {
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2rem 1.25rem 2rem;
}

@media screen and (max-width: 500px) {
  .entryContainer {
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: .75rem 1rem;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: url(/assets/lightpaperfibers_@2X.png);
}

.card-body {
  padding: 2rem 2rem 1.0rem 2rem;
}

@media screen and (max-width: 500px) {
  .card-body {
    padding: 1rem;
  }
}

.cardWImg {
  background-color: #fafcfd;
}

.cardWOImg {
  /* background-color: #f3f9fb; */
  /* background-image: url(/assets/lightpaperfibers_@2X.png); */
  /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
}

.captionContainer {
  font-size: 1.35rem;
  font-family: 'IM Fell Great Primer', serif;
}

@media screen and (max-width: 500px) {
  .captionContainer {
    font-size: 1rem;
  }
}

.entry-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.uNFavIcnContainer {
  position: relative;
  height: 40px;
  padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .uNFavIcnContainer {
  padding-bottom: 30px;
  }
}

.profileFllwUnFllw {
  width: 88%;
  height: 30px;
  left: 0;
  top: 0;
}

.userProfName {
  display: inline-block;
}

.followBtn {
  color: darkgray;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
  padding: .15rem .5rem;
}

.followBtn:hover {
  color: white;
  border-style: solid;
  border-color: #51e3d4;
  background-color: #474f85;
  border-width: 1px;
}

.flwUnflw {
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.favShare {
  width: 35%;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.shareBtnContainer {
  display: inline-block;
}

.shareBtn {
  background: none;
  border: none;
  color: darkgray;
}

@media screen and (max-width: 500px) {
  .shareBtn {
  font-size: .75rem;
  }
}

.shareBtn:hover {
  color: #474f85;
  text-shadow: 0px 0px 5px #51e3d4;
}

.shareBtn:focus {
  outline: 0;
}

.favBtnContainer {
  display: inline-block;
}

.favBtn {
  background: none;
  border: none;
  /* color: darkgray; */
  color: #474f85;
}

@media screen and (max-width: 500px) {
  .favBtn {
  font-size: .75rem;
  }
}

.favBtn:hover {
  color: #474f85;
  text-shadow: 0px 0px 5px #51e3d4;
}

.aFSMIconContainer {
  text-align: right;
  height: 40px;
}

.aFSMIcons {
  word-spacing: 1.00rem;
  padding: 1%;
  font-size: 1.5rem;
}

.orientation canvas {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.expndCrdContainer {
  /* position: absolute;
  right: 0; */
  text-align: center;
}

.expandCrdCusion {
  padding-top: 2%;
}

.followBoxHeader {
  position: relative;
  padding: 2%;
}

.rightSide {
  position: absolute;
  top: 20%;
  right: 2%;
}

.expndCrdBtn {
  background: none;
  border: none;
  padding-top: 1%;
  color: darkgray;
}

.expndCrdBtn:hover {
  color: #474f85;
}

.expndCrdBtn:focus {
  outline: 0;
}

.report {
  font-size: 1.75rem;
  padding-top: 1%;
  background: none;
  border: none;
  color: darkgray;
}

@media screen and (max-width: 500px) {
  .report {
  font-size: 1.25rem;
  }
}

.report:hover {
  color: red;
}

/* -----------------------user column  edit------------------------------- */
@media screen and (min-width: 768px) and (max-width: 900px) {
  .userContainer {
    position: fixed;
    width: 200px;
    left: 3%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .userContainer {
    position: fixed;
    width: 225px;
    left: 5%;
  }
}

@media screen and (min-width: 1201px) {
  .userContainer {
    position: fixed;
    width: 250px;
  }
}

.userInfoCard {
  /* background-color: #fafcfd; */
  background-image: url(/assets/lightpaperfibers_@2X.png);
  padding: 2%;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.profileInfo {
  text-align: center;
}

.profilePicContainer {
  /* background-color: #fafcfd; */
  background-image: url(/assets/lightpaperfibers_@2X.png);
  padding: 2%;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.userProfilePic {
  /* height: 200px; */
  width: 90%;
  /* border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden; */
  margin: auto;
  padding: 4%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

@media only screen and (max-width: 768px) {
  .userColumnLeft {
    width: 50%;
  }

  .userColumnRight {
    width: 50%;
  }
}

.followContainer {
  /* background-color: #fafcfd; */
  background-image: url(/assets/lightpaperfibers_@2X.png);
  padding: 2%;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.followLinkBox {
  display: flex;
  /* justify-content: center;   */
  align-items: center;
  border-style: solid;
  margin: 2%;
  background-color: #fafcfd;
  border-color: lightgray;
  border-width: 1px;
  border-radius: .25rem;
  padding: .25rem .25rem;
}

.followingPrvw {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.noFollowTxt {
  color: darkgray;
}

.expndFollowerBtn {
  background: none;
  border: none;
  color: darkgray;
}

.expndFollowerBtn:hover {
  color: #474f85;
}

.expndFollowerBtn:focus {
  outline: 0;
}


/* -----------------------user profile edit------------------------------- */
.form-padding {
  padding-top: 5%;
}

.form-button-spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}

.userBio {
  text-align: center;
}

.userImageContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.userImage {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.userInfo {
  margin-bottom: 1.5rem;
}

.userImageframe {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 15%;
}

/* -------------------CANT GET THIS TO WORK--------------------------------- */
.userImagePreview.orientation canvas {
  width: 150%;
}

.capPad {
  padding-top: 10px;
}

.cushion {
  margin-bottom: 10px;
}

.header-form-button {
  margin-right: 10px;
}

.collectionHeading {
  position: relative;
}

.collectionHeadingEdit {
  position: absolute;
  top: 30%;
  bottom: 70%;
  right: 0;
}

.collectionSocialBar {
  width: 75%;
  margin: auto;
  text-align: left;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.collectionSocials {
  word-spacing: .75rem;
  font-size: 1.5rem;
  margin-left: 1%;
}

.usercollectionDelete {
  position: absolute;
  right: 1%;
  font-size: 1.5rem;
  cursor: pointer;
}

.cltDContainer {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  /* vertical-align: middle; */
}

.deleteIcn {
  font-size: 1.25rem;
  background: none;
  border: none;
}

.deleteIcn:hover {
  color: red;
}

.collectionBackStop {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  width: 75%;
  margin: auto;
  overflow: hidden;
}

.collectionImg {
  position: absolute;
  left: -25px;
  margin: auto;
  width: 135%;
}

.collectionButton {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  color: white;
  background-color: rgba(128, 128, 128, .5);
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  left: 0;
  top: 0;
}
